{{- if .Values.ingress.enabled -}}
{{- $fullName := include "k8sdemo.fullname" . -}}
{{- $servicePort := .Values.service.port -}}
{{- if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else -}}
apiVersion: extensions/v1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    app: {{ template "k8sdemo.name" . }}
    chart: {{ template "k8sdemo.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
{{- with .Values.ingress.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
spec:
{{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
 rules:
  {{- range .Values.ingress.rules }}
  - host: "{{ .host }}"
    http:
      paths:
      {{- range .backends }}
      - backend:
          serviceName: {{ $fullName }}
          servicePort: {{ $servicePort }}
        path: {{ .path }}
      {{- end }}
  {{- end }}
{{- end }}
